html {
  background-color: white;
}

fieldset {
  padding: 5px;
}

label, input {
  margin: 5px;
}

header, footer {
  color: #00A79D;
}

.content {
  background-color: #00A79D;
  color: white;
  padding: 5px 10px;
}

.unsur {
  border: 1px solid yellow;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
}

.add_element {
  display: flex;
}

.add_element p {
  margin: 10px;
}

button {
  margin: 5px;
}

span::after {
  content: "%"
}

input[type="text"] {
  width: 500px;
}
